<link rel="stylesheet" href="style.css">
<header>
        <div class="navigation">
            <div class="title">Mess Book</div>
            {{!-- <a id="logout" href="/logout">Logout</a> --}}
            <div onclick="run()" id="menu-bar">
                <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
                         
            </div>
        </div>
        {{!-- <div id="datetime"></div> --}}
</header>

