<link rel="stylesheet" href="style.css">
<div onclick="run()" id="menu-bar">
                        <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
                        
                    </div>