<link rel="stylesheet" href="style.css">
<div class="overlayForMenu"></div>
<div id="menuArea" onclick="run()">

        <div class="menu-signup">
            <span>Hello, </span>
            <div class="profile"><i class="fa-solid fa-user fa-lg" style="color: #ffffff;"></i></div>
            <div id="userNameArea" style="font-size: 2rem"></div>
            
        </div>
        <div class="menu-items">
            <div class="trending menuElm">
                <p>Trending</p>
                <button>Best Sellers</button>
                <button>New Releases</button>
                <button>Movers and Shakers</button>
            </div>
            <div class="menuElm">
                <p>Best Foods for Meal</p>
                <button><span>Italian pasta salad</span></button>
                <button><span>Yogurt and fruit parfaits</span></button>
                <button><span>Chocolate cherry chia pudding</span></button>
                <button><span>Peanut butter and banana roll-ups</span></button>
                <button><span>Caprese chicken breasts</span></button>
                <button><span>Healthy mac and cheese (with veggies)</span></button>
            </div>
            <div class="menuElm">
                <p>Help & Settings</p>
                <button>Your Account</button>
                <button>Customer Service</button>
                <button><a href="/logout">Log Out</a></button>
                
            </div>
        </div>

    </div>
    <iclass="fa-solid fa-xmark" style="color: #ffffff;"></i>
    <span id="cross">X</span>